&__nav {
    @include font-size(20, 20);
    position: fixed;
    top: 65%;
    z-index: 2;
    box-shadow: none;
    margin-top: -2em;
    opacity: 0.7;

    &.is-loading {
        opacity: 0;
    }

    &:hover, &:focus, &:active, &:active:focus {
        outline: none;
        opacity: 0.5;
    }

    &--left {
        left: 25px;
    }

    &--right {
        right: 25px;
    }
}